/* ======== Cores */
$preto: black;
$branco: white;
$azul: #2193b0;
$azul-claro: #6dd5ed;
$laranja: orange;
$verde-claro: #9ad15e;
$cinza-claro: #e1e1e1;
$cinza-escuro: #272727;
$rosa-escuro: #CF2034;
$dourado: #6e5c34;